.main-navigation-wrapper {
  width: 100%;
}

.main-navigation-search-wrapper {
  width: 100%;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);


  &.fixed-nav {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 3;
    animation: translateFixedNav .6s ease-out forwards;
  }
}

.main-navigation {
  display: flex;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;

  // navigation links
  .menu-header-menu-container {
    font-family: $font__sans;
    flex: 1;

    @media screen and ( max-width: $query__small ) {

      .menu > li {
        margin-bottom: .5em;
      }
    }

    @media screen and ( min-width: 1025px ) {
      position: relative;
      height: 100%;
    }
  }

  // social icons and account header menu
  .social-account-header {
    height: 100%;
    display: flex;
    flex: .25;

    .social-icons {
      flex: 3;
      display: flex;
      font-size: .85rem;
      justify-content: space-around;
      padding: 0 .75em;
      align-items: center;
      border-right: 1px solid #e6e6e6;

      a {
        padding: .3em .75em;
        background: #eee;
        border-radius: 50%;

        &:hover {
          background: $color__site-brown-dark;

          i {
            color: #fff;
          }
        }

        i {
          color: $color__site-brown-primary;
        }
      }
    }

    //my account tooltip
    .tooltip-account {
      flex: 1;
      margin: auto;
      text-align: center;
      position: relative;
      color: $color__site-brown-primary;

      &:hover {

        i {
          color: $color__site-brown-dark;
        }

        span {

          @media screen and ( min-width: $query__small ) {
            visibility: visible;
          }
        }
      }

      span {
        visibility: hidden;
        font-size: .8rem;
        width: 120px;
        top: 100%;
        left: 100%; 
        margin-left: -60px;
        background-color: rgba(0,0,0,.5);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 3;
      }
    }
  }

  //menu caret smaller and menu font
  .menu {
    font-size: .875rem; 

    @media screen and ( min-width: $query__medium ) {
      font-size: .9rem;
    }    
  
    >li {
      padding: 5px 0;
    }
  }

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;

    ul {
      display: none;
      z-index: 99999;

      ul {
        top: 0;
      }

      li {
        padding-left: 1em;

        &:hover > ul,
        &.focus > ul {
          left: 100%;
        }
      }

      a {
        width: 200px;
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }

  li {
    position: relative;
  }

  a {
    text-decoration: none;
    color: $color__site-black;
  }
}

.logo-container {
  text-align: center;
  padding: 2em 0;
  background: #f6f6f6;
}

.menu-toggle {
  position: absolute;
  right: 0;
  display: inline-block;
  margin: 1.2em 1.2em 0 0;
  padding: .6em .8em;
  font-size: 80%;
  text-transform: uppercase;
  color: #000;
  border: 1px solid hsla(0, 0%, 100%, .3);
  background: transparent;
  z-index: 2;

   @media screen and ( min-width: $query__medium ) {
     display: none;
   }
}

/* Toggle small menu and sub-menus on */
.toggled-on { 

  .menu {
    display: block;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    border: 1px rgba(222,222,222,0.81) solid;
    height: auto;
    top: 64px;
    background: #f2f2f2;
    text-align: center;
    z-index: 3;

    @media screen and ( min-width: $query__small ) {
      top: 80px;
    }

    li {
      margin-top: .5em;
      font-weight: 400;

      a {
        padding-right: .5em;
      }
    }
  }

  .sub-menu.toggled-on, .children.toggled-on {
    display: block;
    width: 100%;
    margin: 0 auto 1em;
    height: auto;
    position: relative;

    @media screen and (min-width: 1025px) {
      width: 180px;
      position: absolute;
    }

    li {
      font-size: 1rem;
      font-weight: 400;

      @media screen and (min-width: 1025px) {
        font-size: .95rem;
      }
    }
  }
}


@media screen and (min-width: $query__medium) {

  .main-navigation {
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);

    ul {
      display: flex;
      font-size: 1rem;
      width: 100%;
      justify-content: center;
      height: 100%;
      align-items: center;

      ul {
        flex-direction: column;
        background: rgb( 255,255,255 );
        margin-left: 0;
        top: 64px;

        li {
          padding-left: 0;
          margin: 0;

          a {
            background: none;
            margin: 0;
            padding: .5em 1em;
            display: block;
            font-weight: 700;

            &:hover {
            }
          }
        }
      }

      li {
        margin: 0 .75em;
        height: 100%;
        display: flex;
        align-items: center;

        &:hover {
            background: $color__site-brown-primary;

            a {
              color: #fff;
            }
        } 

        a {
          padding: .4em .5em;
          display: flex;
          width: 100%;
          height: 100%;
          align-items: center;
        }
      }
    }

  }
}

//woocommerce menu
.woo-menu {
  display: flex;
  justify-content: center;
  flex: .25;
  align-items: center;
  height: 100%;

  @media screen and (min-width: 456px) {
    //flex: 0;
  }

  @media screen and (min-width: 551px) {
    //flex: auto;
  }

  @media screen and (max-width: $query__medium) {
    position: relative;
    right: 30px;
  }

  .search-header {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 1em;
    border-left: 1px solid #e6e6e6;
    font-family: $font__sans;
    font-size: .9rem;

    .fa-search {
      display: none;
      margin-right: .5em;
      padding: 0 .5em;
      font-size: 1rem;
      color: $color__site-brown-primary;
      cursor: pointer;

      @media screen and (min-width: $query__small) {
        display: flex;
      }
    }
  }


  .cart-contents {

    &:before {
      font-family:WooCommerce;
      content: "\e01d";
      font-size: 20px;
      margin-top:10px;
      font-style:normal;
      font-weight:400;
      padding-right:5px;
      vertical-align: bottom;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .cart-contents-count {
    color: #fff;
    background-color: #2ecc71;
    position: absolute;
    top: 0;
    right: 35%;
    font-weight: bold;
    border-radius: 10px;
    padding: 2px 5px;
    line-height: 1;
    font-family: $font__sans;
    font-size: .7rem;
  }
}

//woocommerce cart dropdown
.secondary-cart {
  position: relative;
  display: flex;
  padding-right: 1em;
  align-items: center;
  font-family: $font__sans;

  @include arrow;

  &.show-arrow {
    transition: opacity .25s linear;

    &:before,
    &:after {
      opacity: 1;
    }
  }

  .cart-contents {
    color: $color__site-brown-primary;
  }

  .cart-dropdown {
    position: absolute;
    min-width: 260px;
    padding: 1em .5em .5em;
    background: #fff;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.15);
    border: 2px solid #ddd;
    opacity: 0;
    margin: 0;
    transition: opacity .25s linear;
    left: -9999px;
    z-index: 5;

    @media screen and (min-width: $query__small) {
      min-width: 350px;
    }

    &.show-dropdown {
      opacity: 1;
      left: -275px;
      top: 29.5px;
    }

    .dropdown-cart-wrap {
      display: flex;
      align-items: center;
      font-size: .75rem;
      margin-bottom: 10px;

      p:first-child {
        font-size: .85rem;
      }

      .dropdown-cart-left {
          margin-right: .5em;
          display: flex;
          align-items: center;
          justify-content: center;

          a.remove {
            margin-right: .25em;
            padding: .05em .15em;
            line-height: .85;
            width: auto;
            height: auto;
            padding: 0 .175em;
            font-size: 1.25rem;
          }

          img {
            padding: 0;
            border: 0;
            max-width: 100px;
            margin: 0 auto;
          }
      }

      .dropdown-cart-right {

        a {
          color: #777;
          font-size: .8rem;

          @media screen and (min-width: $query__small) {
            font-size: .9rem;
          }

          &:hover {
            color: #330030
          }
        }

        p {
          margin: .25em 0;
        }

        .price-amount {
          color: rgba( 0,0,0,.4 );
          font-size: .9rem;

          span {
            padding: 0 .15em;
          }
        }
      }

      &.dropdown-cart-subtotal {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .6rem;
        padding: 10px 0;
        border-top: 1px solid #ececec;
        border-bottom: 2px solid #ececec;
        margin: .5em 0;

        .dropdown-cart-left {

          h6 {
            margin: 0;
            margin-right: 10px;
            font-size: 1rem;
          }
        }

        .dropdown-cart-right {

          h6 {
            margin: 0;
            font-weight: 700;
            color: rgba(0,0,0,.8);
            font-size: 1rem;
          }
        }
      }

      &.dropdown-cart-links {
        display: block;
        font-size: 1rem;
        margin: 10px 0 0 0;
      
        .dropdown-checkout-link {
          text-align: center;
          margin-right: 0;
          background-color: #d26e4b;

          a {
            color: #fff;
            padding: 5px 0;
            display: block;

            &:hover {
              text-decoration: none;
              color: rgba(255,255,255,.8);
            }
          }
        }

        .dropdown-cart-link {
          text-align: center;
          margin-bottom: 5px;
          margin-right: 0;
          background-color: #446084;

          a {
            color: #fff;
            padding: 5px 0;
            display: block;

            &:hover {
              text-decoration: none;
              color: rgba(255,255,255,.8);
            }
          }
        }
      }
    }
  }
}

// removed item empty message
.woocommerce-mini-cart__empty-message {
  font-size: .85rem;
}

// remove from cart styles duplicate normal dropdown styles
.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget {
  flex-direction: column;
  
  li {
    justify-content: flex-start;
    width: 100%;

    &:hover {
      background: none;
    }

    a {
      display: flex;
      align-items: center;
      font-size: .9rem;
      color: #777;
      font-weight: 400;
      position: relative;
      top: -7px;

      &.remove {
        display: block;
        font-weight: 700;
        width: auto;
        height: auto;
        padding: 0 .175em;
        font-size: 1.25rem;
      }

      &:nth-of-type(2) {

        &:hover {
          color: rgba(0,0,0,.8);
        }
      }

      img {
        min-width: 100px;
        width: 100px;
        margin: 0 10px 0 0;
      }
    } 
    .quantity {
      position: absolute;
      top: 65%;
      left: 42.5%;
      font-size: .95rem;
    }
  }
}

// removed cart item subtotal category
.woocommerce-mini-cart__total {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-top: 1px solid #ececec;
  border-bottom: 2px solid #ececec;
  margin: .5em 0;

  strong {
    margin-right: 10px;
    font-size: 1rem;
  }

  .woocommerce-Price-amount {
    color: rgba(0,0,0,.8);
    font-size: 1rem;
    font-weight: 700;
  }
}

//removed from cart cart / checkout
.woocommerce-mini-cart__buttons {
  margin: 0;

  a.button {
    display: block;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: #446084;
    margin: 5px 0 0;
    border-radius: 0;

    &:hover {
      text-decoration: none;
      color: rgba(255,255,255,.8);
      background-color: #446084;
    }

    &:nth-of-type(2) {
      background-color: #d26e4b;
      font-size: 1rem;

      &:hover {
        text-decoration: none;
        color: rgba(255,255,255,.8);
        background-color: #d26e4b;
      }
    }
  }
}

